@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: outfit;
}

#root{
  min-height: 100vh;
  display:flex;
}


